.App {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-image: linear-gradient(to right, white, silver);
}
#signUpForm {
  background-color: aqua;
}
#loginForm {
  background-color: skyblue;
}
.forms {
  padding: 20%;
  box-shadow: 10px 10px 20px grey;
}
input {
  box-shadow: 2px 2px 2px black;
  border: none;
  text-align: center;
}
input:focus {
  background: wheat;
}
button {
  padding: 2%;
  background-color: snow;
  border: none;
  font-size: medium;
}
button:hover {
  background-color: coral;
  color: antiquewhite;
  border: none;
  box-shadow: 2px 2px 2px grey;
}
